    <!-- Footer Start -->
    <footer class="footer">
        <!-- Footer Contact Information Section Start -->
        <div class="footer-contact-information">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Footer Contact Info Box Start -->
                        <div class="contact-info-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="/assets/images/icon-location.webp" alt="">
                            </div>

                            <h3>موقعنا</h3>
                            <p>شارع محمد نجيب <br>امام قاعة هيلتون ارض العوايسة<br> المرج القديمة</p>
                        </div>
                        <!-- Footer Contact Info Box End -->
                    </div>

                    <div class="col-md-4">
                        <!-- Footer Contact Info Box Start -->
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.25s">
                            <div class="icon-box">
                                <img src="/assets/images/icon-email-phone.webp" alt="">
                            </div>

                            <h3>اتصل بنا</h3>
                            <p>احمد: 01120843584  <br> معاذ: 01116089723</p>
                        </div>
                        <!-- Footer Contact Info Box End -->
                    </div>

                    <div class="col-md-4">
                        <!-- Footer Contact Info Box Start -->
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="icon-box">
                                <img src="/assets/images/icon-working-hours.webp" alt="">
                            </div>

                            <h3>ساعات العمل</h3>
                            <p>من 1 صباحا إلي 2 بليل كل يوم</p>
                        </div>
                        <!-- Footer Contact Info Box End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Contact Information Section End -->

        <!-- Main Footer Start -->
        <div class="footer-main">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <img src="/assets/images/salon-logo.png" alt="">
                        </div>
                        <!-- Footer Logo End -->

                    </div>

                    <div class="col-lg-7">
                        <!-- Footer Menu Start -->
                        <div class="footer-menu">
                            <ul>
                                <li class="nav-item"><a class="nav-link" href="/">الرئيسية</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">عن الصالون</a></li>
                            <li class="nav-item"><a class="nav-link" href="/pricing">قائمة الأسعار</a></li>
                            <li class="nav-item"><a class="nav-link" href="/blogs">مقالات</a></li>
                            <li class="nav-item highlighted-menu"><a class="nav-link" href="#">احجز الأن</a></li>
                            </ul>
                        </div>
                        <!-- Footer Menu End -->

                        <!-- Footer Copyright Start -->
                        <div class="copyright">
                            <p>تم تصميم الموقع من خلال <a href="https://lineitsolutions.com" target="_blank">شركة لاين اي تي</a></p>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Footer End -->
    </footer>
    <!-- Footer End -->