---
title:  صالون حلاقة احمد ومعاذ | المقالات
layout: 'base.njk'
---
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
    <link rel=icon href="/assets/img/favicon-32x32.png" type="image/png">
    <meta
      name="description"
      content="صالون احمد ومعاذ من افضل صالونات الحلاقة في المرج القديمة - نقدم تجربة مختلفة ومميزة للرجال والشباب لاننا نؤمن بأن شعرك ومظهرك مهمان"
    />
    <meta
      name="keywords"
      content="صالون احمد ومعاذ, صالون حلاقة في المرج, صالون احمد المرج, افضل صالون حلاقة في المرج, حلاقة, شعر الرجال, شعر النساء, الاهتمام بالشعر, قص الشعر, حلاقة اللحية, خدمات الحلاقة, حلاقة شعر عصرية, مظهر جديد"
    />
    <meta name="theme-color" content="#222222" />
    <meta name="secound-theme-color" content="#F5F5F5" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-title" content="{{ title }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/assets/img/logo.jpg" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/logo.jpg" />
    <meta name="application-name" content="{{ title }}" />
    <meta name="title" content="{{ title }}" />
    <meta
      name="robots"
      content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ title }}" />
    <meta property="og:url" content="https://salon-ahmedwmoaaz.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/djwavowmx/image/upload/v1709601033/salon-logo_mmdy3m.webp" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@SALON-AHMED-MOAAZ" />
    <meta name="twitter:creator" content="@SALON-AHMED-MOAAZ" />
    <meta name="twitter:title" content="@SALON-AHMED-MOAAZ" />
    <meta name="twitter:description" content="الصفحة الرئيسية لصالون حلاقة احمد ومعاذ" />
    <meta name="twitter:image:src" content="/assets/img/logo.jpg" />
    <meta name="note" content="صالون حلاقة احمد ومعاذ" />
    <meta name="subject" content="الصفحة الرئيسية لصالون حلاقة احمد ومعاذ" />
    <meta name="identifier-URL" content="https://salon-ahmedwmoaaz.com/" />
    <meta name="linkage" content="https://salon-ahmedwmoaaz.com/" />
    <meta name="distribution" content="global" />
    <meta name="classification" content="All" />
    <meta name="author" content="احمد ومعاذ" />
    <meta name="owner" content="https://salon-ahmedwmoaaz.com/" />
    <meta name="copyright" content="https://salon-ahmedwmoaaz.com/" />
    <meta name="web_author" content="Ahmed Waled" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="operator" content="احمد ومعاذ" />
    <meta name="contactOrganization" content="https://salon-ahmedwmoaaz.com/" />
    <meta name="contactStreetAddress1" content="المرج القاهرة - محمد نجيب" />
    <meta name="contactStreetAddress1" content="محمد نجيب" />
    <meta name="contactCity" content="cairo" />
    <meta name="contactCountry" content="Egypt" />
    <meta name="contactPhoneNumber" content="+201120843584" />
    <meta name="contactNetworkAddress" content="https://salon-ahmedwmoaaz.com/" />
    <meta name="robots" content="index, follow" />
    <meta name="msapplication-starturl" content="https://salon-ahmedwmoaaz.com/" />
    <meta name="msapplication-tooltip" content="صالون حلاقة احمد ومعاذ" />
    <meta name="DC.Creator" content="Developed By Ahmed Waled" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="google-site-verification" content="Ur0MUUvqRoJIjadQNL8lilk_mnzAwvrR3q58yMIFOHs" />
    <title>{{ title }}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/slicknav.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link href="/assets/css/all.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/assets/css/magnific-popup.min.css" rel="stylesheet">
    <link href="/assets/css/custom.min.css" rel="stylesheet" media="screen">
</head>

        <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="/assets/images/ll.png" alt=""></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Magic Cursor Start -->
    <div id="magic-cursor">
        <div id="ball"></div>
    </div>
    <!-- Magic Cursor End -->
    
    <!-- Header Start -->
    <header class="main-header">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo Start -->
                    <a class="navbar-brand" href="/">
						<img src="/assets/images/salon-logo.png" alt="Logo">
					</a>
                    <!-- Logo End -->

                    <!-- Main Menu start -->
                    <div class="collapse navbar-collapse main-menu">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="/">الرئيسية</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">عن الصالون</a></li>
                            <li class="nav-item"><a class="nav-link" href="/videos">فديوهات</a></li>
                            <li class="nav-item"><a class="nav-link" href="/pricing">قائمة الأسعار</a></li>
                            <li class="nav-item"><a class="nav-link" href="/blogs">مقالات</a></li>
                            <li class="nav-item highlighted-menu"><a class="nav-link" href="#">احجز الأن</a></li>
                        </ul>
                    </div>
                    <!-- Main Menu End -->

                    <div class="navbar-toggle"></div>
                </div>
            </nav>

            <div class="responsive-menu"></div>
        </div>
    </header>
    <!-- Header End -->

            <!-- Latest Posts Section Start -->
    <div class="latest-posts">
        <div class="container">
            <div class="row">
                {%- for post in collections.post | reverse -%}
                            {% include 'article-graph.njk' %}
                        {%- endfor -%}
            </div>
        </div>
    </div>
    <!-- Latest Posts Section End -->
