---
permalink: /robots.txt
---
// Salon Ahmed&Moaaz Robots.txt File

User-agent: Blogs Salon Ahmed&Moaaz
Disallow: /blogs

User-agent: about Salon Ahmed&Moaaz
Disallow: /about

User-agent: Salon Ahmed&Moaaz Pricing
Disallow: /pricing

SiteMap: https://salon-ahmed-moaaz.com/sitemap.xml